@model PrenExplorer.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Проекты - Новое Поколение</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body class="flex">
    <main>
        <div class="flex">
            <img src="/img/db_bg.png" alt="database-icon" class="background-icon">
        </div>
        <div class="form-flexbox">
            <form method="post" asp-controller="Account" asp-action="Login">
                <div asp-validation-summary="All"></div>
                <input asp-for="Login" type="text" placeholder="Имя">
                <input asp-for="Password" placeholder="Пароль">
                <input type="submit" value="Вход">
            </form>
        </div>
    </main>
</body>
</html>