@model PrenExplorer.ViewModels.StudentRegistrationViewModel

<div>
    <form method="post" asp-controller="Account" asp-action="RegisterStudent">
        <div asp-validation-summary="All"></div>
        <div>
            <input asp-for="GroupId" value="@Model.GroupId" />
        </div>
        <div>
            <label asp-for="ParentName"></label><br />
            <input asp-for="ParentName" class="form-control" />
            <span asp-validation-for="ParentName"></span>
        </div>
        <div>
            <label asp-for="Login"></label><br />
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control" id="password_input" />
            <span asp-validation-for="Password" id="password_span"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control" id="confirm_input" />
            <span asp-validation-for="PasswordConfirm" id="confirm_span"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber"></label><br />
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div>
            <label asp-for="StudentPhoneNumber"></label><br />
            <input asp-for="StudentPhoneNumber" class="form-control" />
            <span asp-validation-for="StudentPhoneNumber"></span>
        </div>
        <div>
            <label asp-for="DateOfBirth"></label><br />
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth"></span>
        </div>
        <div>
            <label asp-for="DateOfTrial"></label><br />
            <input asp-for="DateOfTrial" class="form-control" />
            <span asp-validation-for="DateOfTrial"></span>
        </div>
        <div>
            <label asp-for="DateStarted"></label><br />
            <input asp-for="DateStarted" class="form-control" />
            <span asp-validation-for="DateStarted"></span>
        </div>
        <div>
            <input asp-for="Role" class="form-control" value="Student" />
        </div>
        <div>
            <label asp-for="Price"></label><br />
            <input asp-for="Price" class="form-control" value="0" />
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <label asp-for="Note"></label><br />
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" class="btn" />
        </div>
    </form>
</div>
