@model List<NPUser>

<div class="lessonContainer flex_center gap_between">
    <div>
        <ol class="studentList">
            @foreach (var student in Model)
            {
                <li class="gap_bottom">
                    <a href="@Url.Action("LessonDetail", "Student", new { StudentId = student.Id })"
                       data-ajax="true"
                       data-ajax-mode="replace"
                       data-ajax-update="#lesson">
                        @student.FirstName @student.Lastname (@student.UserName)
                    </a>
                </li>
            }
        </ol>
    </div>
    <div id="lesson">

    </div>
</div>