@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<!-- ViewBag.MentorName = await _studentService.GetStudentMentorNameAsync(student.GroupId);
            ViewBag.ProjectName = project.Name;
            ViewBag.ProjectLink = project.ProjectLink;
            ViewBag.StudentId = student.Id;
            ViewBag.ProjectId = project.Id;-->

<div class="lesson_container">
    <div id="lesson_detail" data-project="@ViewBag.ProjectLink"></div>
</div>

<script>
    $(document).ready(() => {
        let path = $('#lesson_detail').attr("data-project");
        $("#lesson_detail").load(path);
    });
</script>