* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    background: rgb(254, 208, 63);
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-hw {
    width: inherit;
    height: inherit;
}

.background-icon {
    width: 30vw;
}

.form-flexbox input {
    display: block;
    min-width: 30vw;
    padding: 1rem;
    margin: 1rem;
    outline: none;
    border: 1px solid #fbdb78;
    border-radius: .5rem;
    font-size: 1.1rem;
    color: rgb(135, 97, 83);
}

input::placeholder {
    color: rgb(135, 97, 83);
}

input[type='submit'] {
    cursor: pointer;
}

@media screen and (max-width: 450px){
    input,
    .background-icon{
        width: 80vw;
    }

}